$text-color: #000000;

//navbar
$navbar-padding: 10px;
$navbar-flex-gap: 10px;
$navbar-background-color: #FFFFFF;
$navbar-button-active-background-color: #131417;
$navbar-button-border: 0px;

//button
$button-background-color: #FFFFFF;
$button-active-background-color: #131417;
$button-padding: 12px 24px;
$button-border-radius: 32px;
$button-flex-gap: 6px;
$button-active-text-color: #FFFFFF;

$home-background-color: #F5F5F5;
$navbar-border-radius: 40px;
$button-border-radius: 32px;
$navbar-text-color: #131417;
$navbar-active-text-color: #FFFFFF;
$card-border-radius: 32px;
$contact-section-background-color: #131417;
$contact-section-text-color: #FFFFFF;

