<div class="container">

    <ng-container *ngIf="config">

        <button [class]="config.className || ''" [ngClass]="{'active': config.isActive}" (click)="handleCLick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

            <span>{{config.text}}</span>

            <ng-container *ngIf="config.icon">

                <img [src]="'assets/images/' + config.icon.name + '.svg'" [alt]="config.icon.name" class="icon">

            </ng-container>

        </button>

    </ng-container>
    
</div>

